<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | MyPomodoro Blog</title>
  
  <meta name="description" content="{{ page.description | default: 'MyPomodoro Blog' }}">
  
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body>

  {% include navbar.html %}

  <header>
    <h1>{{ page.title }}</h1>
    <p>{{ page.description }}</p>
  </header>

  <main>
    <article>
        {{ content }}
    </article>
  </main>

  <footer>
    © 2025 MyPomodoro Blog
  </footer>

</body>
</html>
