<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | MyPomodoro</title>
  <meta name="description" content="{{ page.description | default: 'MyPomodoro App' }}">
  <link rel="icon" href="https://img.icons8.com/color/48/tomato.png">

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  
  <link rel="stylesheet" href="{{'/assets/css/pomodoro.css' | relative_url }}">
</head>
<body>
  {% include navbar.html %}

  <!-- Pomodoro 專頁內容 -->
  <main>
    {{ content }}
  </main>

  <footer>
    © 2025 MyPomodoro Blog
  </footer>
  <!-- Pomodoro 專用 JS -->
  <script src="{{ '/assets/js/pomodoro.js' | relative_url }}"></script>
</body>
</html>

